.login_wrapper {
  max-width: 650px;
}
.login-page {
  width: 100%;
  margin: 110px 0;
}

.login-block {
  padding: 52px 0 91px 0;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.center-page p {
  margin: 0;
}

.header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2d2d2d;
}
.center-page .form-horizontal {
  width: 246px;
  margin: 48px auto 0;
}
.form-horizontal .btn-primary {
  height: 38px;
  width: 100%;
}
.center-page .form-horizontal input,
.center-page .form-horizontal textarea {
  width: 100%;
  height: 38px;
  font-size: 16px;
  margin-bottom: 18px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: #f2f2f2;
  color: #2d2d2d;
}
.radio {
  width: auto !important;
  height: 18px !important;
  min-height: 10px !important;
}
.radio-inline {
  padding-top: 0px !important;
}
.date {
  margin-top: 10px !important;
  margin-left: 10px;
  width: 160px !important;
}
.forget,
.back-login {
  text-align: right;
  padding-top: 18px;
}
.center-page {
  width: 960px;
  margin: 0 auto;
}
.page-common {
  width: 100%;
  margin: 110px 0;
}
.content-detail {
  padding: 0 40px;
  border: 1px solid #E5E5E5;
  background: #fff;
}
.header {
  padding: 52px 0 48px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2D2D2D;
}
.common-lists-style {
  width: 100%;
  font-size: 14px;
}
.common-lists-style tr {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px dotted #EFEFEF;
}
.common-lists-style th {
  color: #895F1B;
}
th {
  text-align: left;
}

.footer {
  margin: 32px 0 84px;
}

a.page-disable {
  background: #d8d8d8;
}

a.page-link {
  float: right;
  width: 85px;
  line-height: 38px;
  padding: 0 20px;
  color: #fff;
  background: #5E96AA;
  border-radius: 5px;
}
  
a.previous-page {
  margin: 0 24px 0 31px;
}
.statistics-item {
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.statistics-item .title{
  color: #895F1B;
  font-weight: bold;
  padding-right: 10px;
}
.message-item {
  font-size: 14px;
}
.message-item .right {
  float: right;
}
.message-text {
  height: 20px;
  background-color: #ddd;
  margin-top: 10px;
  padding: 0px 3px 0 3px;
}
.message-time {
  height: 20px;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background-color: #fff !important;
  border-color: #ddd !important;
  color: #777 !important;
  cursor: not-allowed !important;
}

.pagination > li > a {
  background: none repeat scroll 0 0 #fafafa !important;
  color: #666 !important;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
  color: #fff !important;
  cursor: default !important;
  z-index: 3 !important;
}

.col-lg-12 {
  width: 100%;
}
.panel {
  width: 100%;
}
.panel-body {
  width: 100%;
}
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-top: 6px;
}
.row > .pull-left > .dataTables_length {
  margin-left: 20px;
  margin-top: 3px;
}

* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  min-width: 960px;
  background: #f2f2f2 url(../images/banner.png) center 57px no-repeat;
  background-size: 100% 100px;
}
#page-wrapper {
  width: 100%;
  padding-top: 57px;
  min-height: calc(100vh - 85px);
}
ul,
ol,
ul li,
ol li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

a.underline-a:hover {
  text-decoration: underline !important;
}

.clearfix {
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.center-page {
  width: 1000px;
  margin: 0 auto;
}

.nav-header {
  position: fixed;
  z-index: 100;
  height: auto;
  width: 100%;
  min-width: 960px;
  background: #485772;
  border: none;
}

.nav-header .site-title {
  float: left;
}

.nav-header .nav-menus,
.nav-header .nav-menus > li,
.nav-search {
  float: left;
  list-style: none;
}

.down-menus {
  position: relative;
  float: right;
  min-width: 88.97px;
  text-align: center;
  margin-right: calc(100% * 0.1 - 96px);
  font-size: 15px;
  color: #fff;
}

.down-menus .down-menus-li {
  position: absolute;
  width: 100%;
}

.down-menus .down-menus-li > li > a {
  display: block;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-size: 14px;
  color: #2d2d2d;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.down-menus .down-menus-li > li > a:hover {
  background: #d5dee2;
  border: ;
}

.site-title > a,
.nav-header .nav-menus > li > a,
.down-menus-main {
  display: block;
  height: 57px;
  line-height: 57px;
}

.site-title {
  margin: 0 calc(100% * 0.4 - 364px) 0 calc(100% * 0.1 - 88px);
}

.site-title > a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.nav-menus > li > a.current {
  background: #394659;
  border-bottom: solid 5px #5e96aa;
}

.nav-menus > li > a {
  width: 99px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: none;
}

.nav-menus > li > a:hover {
  background: #5d7789;
  border-bottom: 5px #5e96aa solid;
}

.nav-menus > li > a:active {
  background: #5e96aa;
}

a.user-name {
  color: #fff;
}

.down-menus .down-menus-li {
  display: none;
}

.down-menus:hover i.down-up {
  background: transparent url(../images/ListHover.png) center center no-repeat;
}
.down-menus:hover .down-menus-li {
  display: block;
}

.down-menus-main {
  cursor: pointer;
}

.down-menus-main i.down-up {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url(../images/List.png) center center no-repeat;
  background-size: 12px;
}
.down-menus ol li {
  list-style: none;
}

.page-footer {
  width: 100%;
  height: 85px;
  padding: 13px 0 16px 0;
  background: #394659;
}

.footer-content {
  width: 960px;
  margin: 0 auto;
}

#loginInfo {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: red;
}
