@font-face {
  font-family: "Baloo Bhaijaan";
  src: url("../fonts/baloobhaijaan.woff2");
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
body {
  font-family: Times, "Times New Roman", serif;
  margin: 0px;
  background-color: #fff;
}

p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
}
h1 {
  font-size: 65px;
  color: #2d3033;
}
h2 {
  font-size: 40px;
  color: #2d3033;
}
h3 {
  font-size: 28px;
  color: #2d3033;
}
h4 {
  font-size: 22px;
  color: #b1b1b1;
  font-weight: 400;
}
h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}
.btn {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.72);
  font-size: 16px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #3a3a3a;
  margin-top: 20px;
}
.btn:hover,
.btn:focus {
  background-color: #cd003a;
  color: #fff;
}
.btn-large {
  padding: 15px 40px;
  background: #000000;
}
a {
  color: #e84545;
}
a:hover,
a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: #6c7279;
  background: #010101;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.section {
  padding: 100px 0;
}
.no-padding {
  padding: 0;
}
.no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.space {
  margin-top: 60px;
}
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: transparent;
  min-height: 72px;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 60px 0;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  position: relative;
}
#header .logo {
  float: left;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 7px;
  background: #ce0518;
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
  padding: 0 15px;
  vertical-align: bottom;
}
#header .logo a {
  padding-top: 50px;
  display: inherit;
  color: #ffffff;
}
#header.fixed .header-content .logo a {
  padding-top: 16%;
  color: #ffffff;
  text-align: center;
}

#header.fixed {
  background-color: #010101;
  border-bottom: 1px solid #232323 !important;
}
#header.fixed a {
  color: #c3c3c3;
}
#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 0;
}
#header.fixed .nav-toggle {
  top: 18px;
  color: #000;
}
.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.navigation {
  float: right;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover {
  color: #ffffff !important;
}
.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}
.nav-toggle:before,
.nav-toggle:after {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.nav-toggle:before {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #f05da3;
}
.nav-toggle:after {
  background-color: transparent;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  color: #f05da3;
}
.nav-toggle span {
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before,
.nav-toggle span:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-toggle.close-nav span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before,
.nav-toggle.close-nav span:after {
  background-color: #fff;
}
.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.container {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-10 {
  width: 83.33333333%;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}
.banner-text {
  margin-top: 200px;
  color: #fff;
  float: left;
  padding: 0;
  border-radius: 15px 0 15px;
  left: 0px;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}
.banner-text h1 {
  color: #ffffff;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding-bottom: 0;
  font-style: normal;
}
.banner-text p {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 11px;
  text-align: left;
  font-style: italic;
}

.countdown{ 
  text-transform: uppercase;
  padding-top: 50px;
}
.countdown > div{
  display: inline-block;
  width: 130px;
}
.countdown > div > span{
  display: block; 
  text-align: center;
}
.countdown-container .countdown-heading{
  font-size: 24px;
  color: #203a48 !important;
  font-family: 'Poppins', sans-serif; 
  text-transform: capitalize;
}
.countdown-container{
  margin-right: 15px;
  padding: 15px; 
  border: 10px solid #ce0518; 
  background-color: #ffffff;
} 
.countdown-container .countdown-value{
  font-size: 60px;  
  padding: 10px;
  margin-bottom: 20px; 
  color:#203a48 !important; 
  font-weight: 600;
}
.section-header {
  text-align: center;
 
  padding-bottom: 30px;
}
.section-header h2 {
  color: #fff;
}
.section-header p {
  color: #fff;
}

.jp-audio {
  /* width: 201px; */
  padding: 20px;
}

.jp-audio, .jp-audio-stream, .jp-video {
  font-size: 16px;
  font-family: Verdana,Arial,sans-serif;
  line-height: 1.6;
  color: #fff;
  border: 1px solid #da1b2d;
  border-left: 1px solid #da1b2d;
  /* border-right: 1px solid #180a1f; */
  /* border-bottom: 1px solid #180a1f; */
}

.jp-playlist ul {
  list-style-type: none;
  font-size: .7em;
  margin: 0;
  padding: 0;
}
.jp-playlist li {
  position: relative;
  padding: 2px 0;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}
.jp-type-playlist div.jp-playlist a {
  color: #fff;
  text-decoration: none;
}
.jp-type-playlist div.jp-playlist li.jp-playlist-current {
  background-color: #da1b2d;
  margin: 0 -20px;
  padding: 2px 20px;
  border-top: 1px solid #26102e;
  border-bottom: 1px solid #26102e;
}
/* 播放器大小 */
.music-player {
  width: 550px;
}

/* 播放器位置 */
.music-player {
  position: relative;
  margin: 10px auto;
}

/* 歌曲列表 */

.music-player__list {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.music__list__item {
  padding-left: 25px;
  color: #ccc;
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.music__list__item:last-of-type {
  margin: 0;
}

.music__list__item.play {
  color: #fff;
}

.music__list__item.play:before {
  font-family: 'iconfont';
  content: "\e87a";
  position: absolute;
  left: 0px;
  top: 4px;
}


/* 播放器主体 */
.music-player__main {
  height: 150px;
  padding: 25px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* 播放器主体模糊背景 */
.music-player__blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/yanyuan.jpg) no-repeat center;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}


/* 播放器唱片效果 */
.music-player__disc {
  float: left;
  width: 150px;
  height: 150px;
  background: url(../images/cd.png) no-repeat center;
  background-size: 100%;
  position: relative;
}

/* 唱片指针 */
.music-player__pointer {
  width: 25px;
  position: absolute;
  right: -10px;
  top: 0;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* 唱片指针播放状态 加play类名 */
.music-player__pointer.play {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* 唱片歌曲图片 */
.music-player__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


/* 播放器控件 */

.music-player__controls {
  width: 330px;
  height: 130px;
  float: right;
}

/* 歌曲信息 */
.music__info {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.music__info .music__info--title,
.music__info .music__info--singer {
  color: #fff;
}

.music__info .music__info--title {
  font-size: 16px;
}

.music__info .music__info--singer {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}

/* 控件 */

.player-control {
  width: 100%;
}

.player-control__content {
  margin-bottom: 5px;
  overflow: hidden;
}

/* 播放暂停按钮 */
.player-control__btns {
  float: left;
  overflow: hidden;
}

.player-control__btn {
  float: left;
  margin: 0 5px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.player-control__volume {
  float: right;
  overflow: hidden;
}

.control__volume--progress {
  float: left;
  width: 100px;
  position: relative;
  top: 8px;
}

.player__song--timeProgess{
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.nowTime{
  float: left;
}
.totalTime{
  float: right;
}

.progress {
  background: rgba(0, 0, 0, 0.3);
  height: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.progress .back {
  width: 0px;
  height: 100%;
  border-radius: 2px;
  background: rgb(12, 182, 212);
}

.progress .pointer {
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: -1px;
  left: 0;
}

.progress:hover .pointer {
  opacity: 1;
}


/* 播放 画片 动画 */

@-webkit-keyframes disc {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes disc {
  from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.music-player__image.play {
  -webkit-animation: disc 5s linear 0s infinite;
  animation: disc 5s linear 0s infinite;
}


/*  播放进度  */

.player__song--progress {
  width: 100%;
  margin-top: 15px;
}

.songItem {
  width: 100%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background-color: #26102e;
  cursor: pointer;
}
.songImage {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.songName {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  width: 400px;
  height: 50px;
}
.songSinger {
  display: inline-block;
  vertical-align: middle;

  width: 450px;
  height: 50px;
}
.currentSong {
  background-color: #ce0518;
}