@font-face {
  font-family: "Baloo Bhaijaan";
  src: url("../fonts/baloobhaijaan.woff2");
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
body {
  font-family: Times, "Times New Roman", serif;
  margin: 0px;
  font-weight: 400;
  color: #6c7279;
  background: #010101;
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #6c7279;
}
h1 {
  font-size: 65px;
  color: #2d3033;
}
h2 {
  font-size: 40px;
  color: #2d3033;
}
h3 {
  font-size: 28px;
  color: #2d3033;
}
h4 {
  font-size: 22px;
  color: #b1b1b1;
  font-weight: 400;
}
h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  color: #e84545;
}
a:hover,
a:focus {
  text-decoration: none;
}
.section {
  padding: 100px 0;
}
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  min-height: 72px;
  background-color: #ce0518;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 30px 0;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
  position: relative;
}
#header .logo {
  float: left;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 7px;
  /* background: #da1b2d; */
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
  padding: 0 15px;
  vertical-align: bottom;
}
#header .logo a {
  padding-top: 20px;
  display: inherit;
  color: #ffffff;
}
#header.fixed .header-content .logo a {
  padding-top: 16%;
  color: #ffffff;
  text-align: center;
}

#header.fixed {
  background-color: #010101;
  border-bottom: 1px solid #232323 !important;
}
#header.fixed a {
  color: #c3c3c3;
}
#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 0;
}
#header.fixed .nav-toggle {
  top: 18px;
  color: #000;
}
.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.navigation {
  float: right;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover {
  color: #ffffff !important;
}
/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/
.container {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-md-10 {
  width: 83.33333333%;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}
.banner-text {
  margin-top: 200px;
  color: #fff;
  float: left;
  padding: 0;
  border-radius: 15px 0 15px;
  left: 0px;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}
.banner-text h1 {
  color: #fff;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding-bottom: 0;
  font-style: normal;
}
.banner-text p {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 11px;
  text-align: left;
  font-style: italic;
}
.countdown {
  text-transform: uppercase;
  padding-top: 50px;
}
.countdown > div {
  display: inline-block;
  width: 130px;
}
.countdown > div > span {
  display: block;
  text-align: center;
}
.countdown-container .countdown-heading {
  font-size: 24px;
  color: #203a48 !important;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.countdown-container {
  margin-right: 15px;
  padding: 15px;
  border: 10px solid #ce0518;
  background-color: #ffffff;
}
.countdown-container .countdown-value {
  font-size: 60px;
  padding: 10px;
  margin-bottom: 20px;
  color: #203a48 !important;
  font-weight: 600;
}
.section-header {
  text-align: center;
  padding-bottom: 30px;
}
.section-header h2 {
  color: #fff;
}
.section-header p {
  font-size: 16px;
  color: #fff;
}

/* ------------------------------------------------------------------------------
	Playlist
-------------------------------------------------------------------------------*/
.playlist {
  padding-top: 50px;
  padding-bottom: 50px;
}
.audio {
  padding: 20px;
}
.audio,
.audio-stream{
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  border: 1px solid #da1b2d;
  border-left: 1px solid #da1b2d;
}

.playlist-item ul {
  list-style-type: none;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}
.playlist-item li {
  position: relative;
  padding: 2px 0;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}
.type-playlist div.playlist-item a {
  color: #fff;
  text-decoration: none;
}
.type-playlist div.playlist-item li.playlist-current {
  background-color: #da1b2d;
  margin: 0 -20px;
  padding: 2px 20px;
  border-top: 1px solid #26102e;
  border-bottom: 1px solid #26102e;
}

/* ------------------------------------------------------------------------------
	Music player
-------------------------------------------------------------------------------*/
.music-player {
  width: 550px;
}
.music-player {
  position: relative;
  margin: 10px auto;
  margin-bottom: 20px;
}
.music-player-list {
  width: 100%;
  padding: 10px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.music-player-main {
  height: 150px;
  padding: 25px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.music-player-blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/playerback.png) no-repeat center;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.music-player-disc {
  float: left;
  width: 150px;
  height: 150px;
  background: url(../images/cd.png) no-repeat center;
  background-size: 100%;
  position: relative;
}
.music-player-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.music-player-controls {
  width: 330px;
  height: 130px;
  float: right;
}
.music-info {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.music-info .music-info-title,
.music-info .music-info-singer {
  color: #fff;
}
.music-info .music-info-title {
  font-size: 16px;
}
.music-info .music-info-singer {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}
.player-control {
  width: 100%;
}
.player-control-content {
  margin-bottom: 5px;
  overflow: hidden;
}
.player-control-btns {
  float: left;
  overflow: hidden;
}

.player-control-btn {
  float: left;
  margin: 0 5px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.player-control-volume {
  float: right;
  overflow: hidden;
}

.control-volume-progress {
  float: left;
  width: 100px;
  position: relative;
  top: 8px;
}

.player-song-timeProgess {
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
  padding: 0px 3px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.nowTime {
  float: left;
}
.totalTime {
  float: right;
}

.progress {
  background: rgba(0, 0, 0, 0.3);
  height: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.progress .back {
  width: 0px;
  height: 100%;
  border-radius: 2px;
  background: rgb(12, 182, 212);
}

.progress .pointer {
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: -1px;
  left: 0;
}
.progress:hover .pointer {
  opacity: 1;
}
@-webkit-keyframes disc {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes disc {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.music-player-image.play {
  -webkit-animation: disc 5s linear 0s infinite;
  animation: disc 5s linear 0s infinite;
}
.player-song-progress {
  width: 100%;
  margin-top: 15px;
}
.songItem {
  width: 100%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background-color: #26102e;
  cursor: pointer;
  font-size: 14px;
}
.songImage {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.songName {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  width: 400px;
  height: 50px;
}
.songSinger {
  display: inline-block;
  vertical-align: middle;

  width: 450px;
  height: 50px;
}
.currentSong {
  background-color: #ce0518;
}

.col-md-3 {
  width: 25%;
  float: left;
  padding-top: 12px;
}
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #da1b2d;
  height: 1000px;
}

.galleryImage {
  width: 220px;
  height: 220px;
  transform: scale(1);
  opacity: 1;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
}
#zoom {
  z-index: 99990;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#zoom .close {
  z-index: 99993;
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 49px;
  cursor: pointer;
  background: transparent url(../images/close.png) no-repeat 50% 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  border-radius: 0 0 0 4px;
}
#zoom .previous {
  left: 0;
  background: url(../images/arrows.png) no-repeat 0 0;
  border-radius: 0 4px 4px 0;
}
#zoom .previous:hover,
#zoom .next:hover {
  background-color: #0088cc;
}
#zoom .next {
  right: 0;
  background: url(../images/arrows.png) no-repeat 100% 0;
  border-radius: 4px 0 0 4px;
}
#zoom .previous,
#zoom .next {
  z-index: 99992;
  position: absolute;
  top: 50%;
  overflow: hidden;
  display: block;
  width: 49px;
  height: 49px;
  margin-top: -25px;
}
#zoom img {
  display: block;
  max-width: none;
  background: #ececec;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#zoom .content {
  z-index: 99991;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: -100px 0 0 -100px;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* ------------------------------------------------------------------------------
	 Serives
-------------------------------------------------------------------------------*/
.service-section {
  padding: 50px 0;
  color: #fff;
}
.services {
  background: transparent;
  color: #fff;
}
#information {
  position: relative;
  background: #fff;
}
#information:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 100%;
  background: #ce0518;
  border-radius: 50%;
  left: -25%;
  z-index: 0;
  top: 0%;
}
.services .section-header h2 {
  color: #404040;
  font-weight: bold;
}
.services .section-header p {
  color: #404040;
}
.services-content {
  padding: 30px 30px 20px;
  margin-top: 30px;
  border: 1px solid rgba(60, 60, 60, 0.53);
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background: #fff;
}
.services-content p {
  text-align: left;
}
.services-content h5 {
  height: 35px;
  color: #da1b2d;
}
.services .icon {
  color: #da1b2d;
  font-size: 50px;
  padding-top: 26px;
  display: inline-block;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  font-weight: 600;
  margin-bottom: 15px;
}
.col-md-4 {
  width: 30%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  display: inline-block;
}
.text-center {
  text-align: center;
}
#app {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #da1b2d;
}
#map {
  width: 100%;
  height: 400px;
}
#panorama {
  margin-top: 50px;
  width: 100%;
  height: 500px;
}
